<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>trungtin.controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>trungtin.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductController</servlet-name>
        <servlet-class>trungtin.controller.AddProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductController</servlet-name>
        <servlet-class>trungtin.controller.SearchProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductController</servlet-name>
        <servlet-class>trungtin.controller.DeleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutConntroller</servlet-name>
        <servlet-class>trungtin.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>trungtin.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>trungtin.controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindProductController</servlet-name>
        <servlet-class>trungtin.controller.FindProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDetailController</servlet-name>
        <servlet-class>trungtin.controller.GetDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeeDetailController</servlet-name>
        <servlet-class>trungtin.controller.SeeDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyController</servlet-name>
        <servlet-class>trungtin.controller.BuyController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductController</servlet-name>
        <url-pattern>/AddProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductController</servlet-name>
        <url-pattern>/SearchProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductController</servlet-name>
        <url-pattern>/DeleteProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutConntroller</servlet-name>
        <url-pattern>/LogoutConntroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindProductController</servlet-name>
        <url-pattern>/FindProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDetailController</servlet-name>
        <url-pattern>/GetDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeeDetailController</servlet-name>
        <url-pattern>/SeeDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyController</servlet-name>
        <url-pattern>/BuyController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>shoppingPage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
